<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>浏览效果并发布1</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
 <!--header-->
<div class="container">


<div class="row">
<div class="col-md-3">
<form class="navbar-form " role="search">
        
 <button type="submit" class="btn btn-info ">1.课程基本信息创建</button>
</form>
</div>
<div class="col-md-3">
<form class="navbar-form " role="search">
        
        <button type="submit" class="btn btn-info ">2.添加课题信息</button>
        </form>
</div>
<div class="col-md-3">
<form class="navbar-form " role="search">
        
        <button type="submit" class="btn btn-info ">3.浏览效果公布</button>
        </form>
</div>
<div class="col-md-3">
<form class="navbar-form " role="search">
        
        <button type="submit" class="btn btn-info ">4.添加完成</button>
        </form>
</div>

</div>

      </div>
        <!--header-->
      <!--信息-->
<div class="media tab container" style="border: 1px solid #eee;">
  <a class="media-left" href="#">
    <img src="img/10.jpg" alt="...">
  </a>
  <div class="media-body" style="padding-left:30px; padding-top:7%">

    



    <h4 class="media-heading">课题名称：<span style="font-size:12px"> 文件标签</span>   </h4>

     <h4 class="media-heading">作者：<span style="font-size:12px">  文件标签</span></h4>
      <h4 class="media-heading">上传时间：<span style="font-size:12px">  文件标签</span></h4>
       <h4 class="media-heading">时长：<span style="font-size:12px">  文件标签</span></h4>
        <h4 class="media-heading">教具：<span style="font-size:12px">  文件标签</span>  <span style="font-size:12px">  文件标签</span>   <span style="font-size:12px">  文件标签</span></h4>
           <form class="navbar-form  pull-left" role="search">
        
 <button type="submit" class="btn btn-primary btn-lg " style="margin:0 auto"> 下载 </button>
</form>

  </div>
  <!--信息-->
<!--课程简介-->
  <div class="container" style="border:1px solid #ccc; margin-top:20px">
<h4>课程简介</h4>
<p>Vestibulum consectetur scelerisque lacus, ac fermentum lorem convallis sed. Nam odio tortor, dictum quis malesuada at, pellentesque vitae orci. Vivamus elementum, felis eu auctor lobortis, diam velit egestas lacus, quis fermentum metus ante quis urna. Sed at facilisis libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum bibendum blandit dolor. Nunc orci dolor, molestie nec nibh in, hendrerit tincidunt ante. Vivamus sem augue, hendrerit non sapien in, mollis ornare augue.
</p>
</div>
<!--课程简介-->
<!--相关-->
<div class="row" style="margin-top:50px ;">
<div class="container" style="border:1px solid #ccc">
<div class="row">
<div class=" col-xs-8 col-md-6">
<h4>课题名称</h4>
</div>

<div class="col-xs-4 col-md-6 ">
<h5 class="text-right">
<a href="">更多</a></h5>
</div>
</div>	

<div class="row" style="margin-top:25px;border:1px solid #ccc;background-color:#ccc">
<div class="col-md-6 ">
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 active">
<form class="navbar-form navbar-right" role="search">
        
        <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form>

</div>

</div>
<div class="row" style="margin-top:25px;border:1px solid #ccc">
<div class="col-md-6 ">
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 ">
<form class="navbar-form navbar-right" role="search">
        
      <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form>

</div>

</div>
<div class="row" style="margin-top:25px;border:1px solid #ccc;background-color:#ccc">
<div class="col-md-6 ">
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 ">
<form class="navbar-form navbar-right" role="search">
        
     <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form>

</div>

</div>
<div class="row" style="margin-top:25px;border:1px solid #ccc">
<div class="col-md-6 ">
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 ">
<form class="navbar-form navbar-right" role="search">
        
        <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form>

</div>

</div>
<div class="row" style="margin-top:25px;border:1px solid #ccc;background-color:#ccc">


<div class="col-md-6 "  >
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 " style="">
<form class="navbar-form navbar-right" role="search">
        
        <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form></div>
   



</div>
</div>



</div>

<!--相关-->
<!--页码-->
<div class="row ">

<div class="col-md-4 "></div>
<div class="col-md-4 ">

<nav>
  <ul class="pagination ">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</nav>



</div>
<div class="col-md-4"></div>

</div>
<!--页码-->
<!--footer-->
<div class="row  container" style="margin-top:5%">
    <div class="col-md-3"></div>
    <div class="col-md-3">
   <form action=""  class="navbar-form  center-block " role="" >
<button type="submit" class="btn btn-primary btn-lg pull-left">返回修改</button>


</form>

    </div>
    <div class="col-md-3">

   <form action=""  class="navbar-form  center-block " role="" >

<button type="submit" class="btn btn-success btn-lg pull-right ">&nbsp完 成&nbsp&nbsp</button>

</form>
    </div>
    <div class="col-md-3"></div>
</div>

<!--footer-->

	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>