<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课题列表页面</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<!--课题列表-->

<div class="row" style="margin-top:50px ;">
<div class="container" style="border:1px solid #ccc">

<h4 class="text-center ">课题列表</h4>

<div class="row" style="margin-top:25px;border:1px solid #ccc;background-color:#ccc">
<div class="col-md-6 ">
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 active">
<form class="navbar-form navbar-right" role="search">
        
        <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form>

</div>

</div>
<div class="row" style="margin-top:25px;border:1px solid #ccc">
<div class="col-md-6 ">
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 ">
<form class="navbar-form navbar-right" role="search">
     <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form>

</div>

</div>

<div class="row" style="margin-top:25px;border:1px solid #ccc;background-color:#ccc">
<div class="col-md-6 ">
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 ">
<form class="navbar-form navbar-right" role="search">
        
        <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form>

</div>

</div>
<div class="row" style="margin-top:25px;border:1px solid #ccc">
<div class="col-md-6 ">
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 ">
<form class="navbar-form navbar-right" role="search">
        
       <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form>

</div>

</div>
<div class="row" style="margin-top:25px;border:1px solid #ccc;background-color:#ccc">


<div class="col-md-6 "  >
<h4><a href="">课题名称</a></h4>
</div>
<div class="col-md-6 " style="">
<form class="navbar-form navbar-right" role="search">
        
       <button type="submit" class="btn btn-info">查看</button>
         <button type="submit" class="btn btn-info">下载</button>
          <button type="submit" class="btn btn-info">教具</button>
          <button type="submit" class="btn btn-info">收藏</button>
      </form></div>
   



</div>
</div>



</div>
<!--课题列表-->
<!--页码-->
<div class="row ">

<div class="col-md-4 "></div>
<div class="col-md-4 ">

<nav>
  <ul class="pagination ">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</nav>



</div>
<div class="col-md-4"></div>

</div>
<!--页码-->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>