<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课程基本信息创建</title>
	<link rel="stylesheet" href="__Css__/bootstrap.min.css">

</head>
<body>
        <!--header-->
<div class="container">


<div class="row">
<div class="col-md-3">
<form class="navbar-form " role="search">

 <button type="submit" class="btn btn-info ">1.课程基本信息创建</button>
</form>
</div>
<div class="col-md-3">
<form class="navbar-form " role="search">

        <button type="submit" class="btn btn-info ">2.添加课题信息</button>
        </form>
</div>
<div class="col-md-3">
<form class="navbar-form " role="search">

        <button type="submit" class="btn btn-info ">3.浏览效果公布</button>
        </form>
</div>
<div class="col-md-3">
<form class="navbar-form " role="search">

        <button type="submit" class="btn btn-info ">4.添加完成</button>
        </form>
</div>

</div>

      </div>
        <!--header-->

<!--课程信息-->


<!--课程信息-->
<form role="form" action="" class="container">
  <div class="form-group">
  <h2>【课程信息</h2>
    <label for="CurriculumInfo">课程信息(中文)</label>
    <input type="email" class="form-control" id="CurriculumInfo" placeholder="" style="width:30%">
  </div>
  <div class="form-group">
    <label for="CurriculumType">课程类型</label>
    <select class="form-control" style="width:30%">...</select>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">课程图标上传</label>
    <input type="file" id="exampleInputFile" style="width:30%">

  </div>
  <textarea class="form-control" rows=10   name=s1   cols=27   onpropertychange= "this.style.posHeight=this.scrollHeight "></textarea>
   <hr class="divied ">

    <div class="form-group">
  <h2>【教师信息</h2>
    <label for="teacherinfo">姓名</label>
    <input type="email" class="form-control" id="teacherinfo" placeholder=" " style="width:30%">
  </div>
  <div class="form-group">
    <label for=" job">职称</label>
    <input type="text" class="form-control" id=" job" placeholder="" style="width:30%">
  </div>
   <div class="form-group">
    <label for=" job">所在院校/单位</label>
    <input type="text" class="form-control" id=" job" placeholder="" style="width:30%">
  </div>
   <div class="form-group">
    <label for=" job">电子邮箱</label>
    <input type="email" class="form-control" id=" job" placeholder="email" style="width:30%">
  </div>
   <div class="form-group">
    <label for=" job">办公电话</label>
    <input type="text" class="form-control" id=" job" placeholder="" style="width:30%">
  </div>
   <div class="form-group">
    <label for=" job">手机号码</label>
    <input type="text" class="form-control" id=" job" placeholder="" style="width:30%">
  </div>

  <button type="button" class="btn btn-info center-block">创建</button>
</form>



</div>

<!--课程信息-->


</div>


	<script src="__Js__/jquery.js"></script>
<script src="__Js__/bootstrap.min.js"></script>
</body>
</html>